#not right, have to do a for loop. Check the answer key after.

<%
    card = [2,3,4,5,6,7,8,9,10,"jack","queen","king","ace"]
    suit = ["clubs", "diamonds", "hearts", "spades"]
    card1 = card.sample
    suit1 = suit.sample
    card2 = card.sample
    suit2 = suit.sample
    card3 = card.sample
    suit3 = suit.sample
    card4 = card.sample
    suit4 = suit.sample
    card5 = card.sample
    suit5 = suit.sample
%>

<p>
<img src="/images/cards/<%=card1%>_of_<%=suit1%>.svg">
<img src="/images/cards/<%=card2%>_of_<%=suit2%>.svg">
<img src="/images/cards/<%=card3%>_of_<%=suit3%>.svg">
<img src="/images/cards/<%=card4%>_of_<%=suit4%>.svg">
<img src="/images/cards/<%=card5%>_of_<%=suit5%>.svg">
</p>

<a href ="/cards">Draw Again!</a>